

<section>
  <input id="title" type="text" required placeholder="Título" [(ngModel)]="note.title">
  <div id="main">
    <input id="note" type="text" required placeholder="Nota" [(ngModel)]="note.content">
  </div>
  <div id="footer">
    <div id="icons">
      <button><img src="../../../assets/images/more-icon.svg" alt=""></button>
      <button><img src="../../../assets/images/image-icon.svg" alt=""></button>
      <button><img src="../../../assets/images/color-lens-icon.svg" alt=""></button>
      <button><img src="../../../assets/images/trash-icon.svg" alt=""></button>
    </div><button (click)="criarNota()">Criar Nota</button>  </div>
</section>
