section {
  background-color: #f2f2f2;
  width: 13vw;
  height: 17vh;
  padding: 0.5rem;
  border-bottom: solid 2px #999999;
}

button {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
  border: none;
  border-radius: 0.3rem;
}

button:hover {
  background-color: #d9d9d9;
}

p {
  font-family: Inter;
  font-size: 0.9rem;
}
